<div>
  <h3>Authors</h3>

  <table class="grid">
    <thead>
      <tr><th>Name</th><th>Organization</th><th>Email</th></tr>
    </thead>
    <tbody>
      <tr><td>Emily Decker</td><td>Office of Population Affairs</td><td>Emily.Decker@hhs.gov</td></tr>
      <tr><td>Brittni Frederiksen</td><td>Office of Population Affairs</td><td>Brittni.Frederiksen@hhs.gov</td></tr>
      <tr><td>Stephen Hasley, MD</td><td>American College of Obstetrics and Gynecologists</td><td>shasley@acog.org</td></tr>
      <tr><td>Susan Matney</td><td>Intermountain Healthcare</td><td>susan.matney@imail.org</td></tr>
      <tr><td>Bret Heale</td><td>Intermountain Healthcare</td><td>bret.heale@imail.org</td></tr>
      <tr><td>Nathan Davis</td><td>Intermountain Healthcare</td><td>Nathan.Davis2@imail.org</td></tr>
      <tr><td>Patrick Langford</td><td>Intermountain Healthcare</td><td>Patrick.Langford@imail.org</td></tr>
    </tbody>
  </table>
</div>

