<div>
  <p>This guide references the following extensions.</p>

  <table class="grid">
    <thead>
      <tr>
        <th>Extension</th>
        <th>Profiles that use the extension</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">administrativeEncounterId</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">admitMedicationId</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">ambulatoryStatus</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">arrivedByTransportation</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">associatedPrecondition</a></td>
        <td><a href="#">hspc-height</a>, <a href="#">hspc-systolicbp</a>, <a href="#">hspc-diastolicbp</a>, <a href="#">hspc-bodyWeight</a></td>
      </tr>
      <tr>
        <td><a href="#">bodyPosition</a></td>
        <td><a href="#">hspc-diastolicbp</a>, <a href="#">hspc-systolicbp</a></td>
      </tr>
      <tr>
        <td><a href="#">chiefComplaintId</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">communicationMode</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">confidentiality</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">contraceptionProvisionMethod</a></td>
        <td><a href="#">fpar-contraceptiveChoiceAtExit</a></td>
      </tr>
      <tr>
        <td><a href="#">dataAbsentReason</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">dataOriginationMode</a></td>
        <td><a href="#">hspc-height</a>, <a href="#">hspc-bodyWeight</a></td>
      </tr>
      <tr>
        <td><a href="#">deltaFlag</a></td>
        <td><a href="#">all lab observation profiles</a></td>
      </tr>
      <tr>
        <td><a href="#">departedByTransportation</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">dischargeMedicationId</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">focalSubject</a></td>
        <td><a href="#">hspc-systolicb</a>, <a href="#">hspc-diastolicbp</a></td>
      </tr>
      <tr>
        <td><a href="#">hospitalService</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">organizationPeriod</a></td>
        <td><a href="#">fpar-organization</a></td>
      </tr>
      <tr>
        <td><a href="#">primaryInsuranceClassification</a></td>
        <td><a href="#">fpar-coverage</a></td>
      </tr>
      <tr>
        <td><a href="#">reasonCancelled</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td><a href="#">reportingMethod</a></td>
        <td><a href="#">fpar-pregnancyStatusEval</a></td>
      </tr>
      <tr>
        <td><a href="#">vipLevel</a></td>
        <td><a href="#">fpar-genEncounter</a></td>
      </tr>
    </tbody>
  </table>
</div>
