<div>
  <p>This guide references the following extensions.</p>

  <table class="grid">
    <thead>
      <tr>
        <th>Extension</th>
        <th>Profiles that use the extension</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>administrativeEncounterId</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>admitMedicationId</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>ambulatoryStatus</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>arrivedByTransportation</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>associatedPrecondition</td>
        <td><a href="StructureDefinition-hspc-height.html">hspc-height</a>, <a href="StructureDefinition-hspc-systolicbp.html">hspc-systolicbp</a>, <a href="StructureDefinition-hspc-diastolicbp.html">hspc-diastolicbp</a>, <a href="StructureDefinition-hspc-bodyWeight.html">hspc-bodyWeight</a></td>
      </tr>
      <tr>
        <td>bodyPosition</td>
        <td><a href="StructureDefinition-hspc-diastolicbp.html">hspc-diastolicbp</a>, <a href="StructureDefinition-hspc-systolicbp.html">hspc-systolicbp</a></td>
      </tr>
      <tr>
        <td>chiefComplaintId</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>communicationMode</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>confidentiality</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>contraceptionProvisionMethod</td>
        <td><a href="StructureDefinition-fpar-contraceptiveChoiceAtExit.html">fpar-contraceptiveChoiceAtExit</a></td>
      </tr>
      <tr>
        <td>dataAbsentReason</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>dataOriginationMode</td>
        <td><a href="StructureDefinition-hspc-height.html">hspc-height</a>, <a href="StructureDefinition-hspc-bodyWeight.html">hspc-bodyWeight</a></td>
      </tr>
      <tr>
        <td>deltaFlag</td>
        <td>all lab observation profiles</td>
      </tr>
      <tr>
        <td>departedByTransportation</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>dischargeMedicationId</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>focalSubject</td>
        <td><a href="StructureDefinition-hspc-systolicbp.html">hspc-systolicbp</a>, <a href="StructureDefinition-hspc-diastolicbp.html">hspc-diastolicbp</a></td>
      </tr>
      <tr>
        <td>hospitalService</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>organizationPeriod</td>
        <td><a href="StructureDefinition-fpar-organizatino.html">fpar-organization</a></td>
      </tr>
      <tr>
        <td>primaryInsuranceClassification</td>
        <td><a href="StructureDefinition-fpar-coverage.html">fpar-coverage</a></td>
      </tr>
      <tr>
        <td>reasonCancelled</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
      <tr>
        <td>reportingMethod</td>
        <td><a href="StructureDefinition-fpar-pregnancyStatusEval.html">fpar-pregnancyStatusEval</a></td>
      </tr>
      <tr>
        <td>vipLevel</td>
        <td><a href="StructureDefinition-fpar-genEncounter.html">fpar-genEncounter</a></td>
      </tr>
    </tbody>
  </table>
</div>
