<div>
  <h3>Lab data element crosswalk</h3>

  <table class="grid">
    <thead>
      <tr>
        <th width="15%">LOINC code</th>
        <th width="40%">LOINC Name</th>
        <th width="25%">FPAR data element</th>
        <th width="20%">LOINC code</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86636-8.html?sections=Comprehensive" target="_blank">86636-8&nbsp;&nbsp;</a></td>
        <td>Family planning report - FPAR 2.0 set</td>
        <td></td>
        <td>86636-8</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/75524-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;75524-9&nbsp;&nbsp;</a></td>
        <td>Facility identifier</td>
        <td>Facility Identifier</td>
        <td>75524-9</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/68468-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;68468-8&nbsp;&nbsp;</a></td>
        <td>Attending physician NPI Provider</td>
        <td>Clinical Provider Identifier</td>
        <td>68468-8</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86637-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86637-6&nbsp;&nbsp;</a></td>
        <td>Provider role</td>
        <td>Clinical Provider Role</td>
        <td>86637-6</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/76427-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;76427-4&nbsp;&nbsp;</a></td>
        <td>Visit date</td>
        <td>Visit Date</td>
        <td>76427-4</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86638-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86638-4&nbsp;&nbsp;</a></td>
        <td>Patient demographic and administrative information panel [FPAR]</td>
        <td></td>
        <td>86638-4</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/77244-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;77244-2&nbsp;&nbsp;</a></td>
        <td>Which category represents the total combined income of all members of your FAMILY during the past 12 months?</td>
        <td>Annual Household Income</td>
        <td>77244-2</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86639-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86639-2&nbsp;&nbsp;</a></td>
        <td>Household size [#]</td>
        <td>Household Size</td>
        <td>86639-2</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/72166-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;72166-2&nbsp;&nbsp;</a></td>
        <td>Tobacco smoking status NHIS</td>
        <td>Smoking status</td>
        <td>72166-2</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/87520-3.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;87520-3&nbsp;&nbsp;</a></td>
        <td>Primary insurance</td>
        <td>Insurance Coverage Type</td>
        <td>87520-3</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/52556-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;52556-8&nbsp;&nbsp;</a></td>
        <td>Payment sources</td>
        <td>Payer for Visit</td>
        <td>52556-8</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/21112-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;21112-8&nbsp;&nbsp;</a></td>
        <td>Birth date</td>
        <td>Date of Birth</td>
        <td>21112-8</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/46098-0.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;46098-0&nbsp;&nbsp;</a></td>
        <td>Sex</td>
        <td>Birth Sex</td>
        <td>46098-0</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/32624-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;32624-9&nbsp;&nbsp;</a></td>
        <td>Race</td>
        <td>Race</td>
        <td>32624-9</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/69490-1.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;69490-1&nbsp;&nbsp;</a></td>
        <td>Ethnicity OMB.1997</td>
        <td>Ethnicity</td>
        <td>69490-1</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86640-0.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86640-0&nbsp;&nbsp;</a></td>
        <td>Limited English proficiency Qualitative</td>
        <td>Limited English Proficiency</td>
        <td>86640-0</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/76435-7.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;76435-7&nbsp;&nbsp;</a></td>
        <td>Patient identifier</td>
        <td>Patient Identifier</td>
        <td>76435-7</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86641-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86641-8&nbsp;&nbsp;</a></td>
        <td>Height, weight and blood pressure panel [FPAR]</td>
        <td></td>
        <td>86641-8</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/8302-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8302-2&nbsp;&nbsp;</a></td>
        <td>Body height</td>
        <td>Height</td>
        <td>8302-2</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/29463-7.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;29463-7&nbsp;&nbsp;</a></td>
        <td>Body weight</td>
        <td>Weight</td>
        <td>29463-7</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/8480-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8480-6&nbsp;&nbsp;</a></td>
        <td>Systolic blood pressure</td>
        <td>Systolic blood pressure</td>
        <td>8480-6</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/8462-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8462-4&nbsp;&nbsp;</a></td>
        <td>Diastolic blood pressure</td>
        <td>Diastolic blood pressure</td>
        <td>8462-4</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86642-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86642-6&nbsp;&nbsp;</a></td>
        <td>Pregnancy and contraception
          panel [FPAR]</td>
        <td></td>
        <td>86642-6</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/11977-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11977-6&nbsp;&nbsp;</a></td>
        <td>[#] Parity</td>
        <td>Parity</td>
        <td>11977-6</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/11996-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11996-6&nbsp;&nbsp;</a></td>
        <td>[#] Pregnancies</td>
        <td>Gravidity</td>
        <td>11996-6</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/82810-3.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;82810-3&nbsp;&nbsp;</a></td>
        <td>Pregnancy status</td>
        <td>Pregnancy Status</td>
        <td>82810-3</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86643-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86643-4&nbsp;&nbsp;</a></td>
        <td>Information source for pregnancy status</td>
        <td>Pregnancy Status Reporting Method</td>
        <td>86643-4</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86645-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86645-9&nbsp;&nbsp;</a></td>
        <td>Future pregnancy intention Reported</td>
        <td>Pregnancy Intention</td>
        <td>86645-9</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86646-7.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86646-7&nbsp;&nbsp;</a></td>
        <td>Ever had sex - Reported</td>
        <td>Ever Had Sex</td>
        <td>86646-7</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86647-5.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86647-5&nbsp;&nbsp;</a></td>
        <td>Sex in the last 3 months - Reported</td>
        <td>Sex Last 3 Months</td>
        <td>86647-5</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86648-3.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86648-3&nbsp;&nbsp;</a></td>
        <td>Sex in the last year - Reported</td>
        <td>Sex Last 12 Months</td>
        <td>86648-3</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86649-1.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86649-1&nbsp;&nbsp;</a></td>
        <td>Birth control method at intake Reported --at intake</td>
        <td>Contraceptive Method(s) at Intake</td>
        <td>86649-1</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86650-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86650-9&nbsp;&nbsp;</a></td>
        <td>Reason for no birth control use Reported --at intake</td>
        <td>Reason for no contraceptive method at intake</td>
        <td>86650-9</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86651-7.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86651-7&nbsp;&nbsp;</a></td>
        <td>Birth control method at exit Reported --at exit</td>
        <td>Contraceptive Method(s) at Exit</td>
        <td>86651-7</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86652-5.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86652-5&nbsp;&nbsp;</a></td>
        <td>How birth control method was provided</td>
        <td>How Contraceptive Method(s) Provided At Exit</td>
        <td>86652-5</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86653-3.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86653-3&nbsp;&nbsp;</a></td>
        <td>Reason for no birth control use Reported --at exit</td>
        <td>Reason for no contraceptive method at exit</td>
        <td>86653-3</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86654-1.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86654-1&nbsp;&nbsp;</a></td>
        <td>Contraceptive counseling was provided</td>
        <td>Contraceptive Counseling</td>
        <td>86654-1</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86655-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86655-8&nbsp;&nbsp;</a></td>
        <td>Counseling to achieve pregnancy was provided</td>
        <td>Counseling to Achieve Pregnancy</td>
        <td>86655-8</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86663-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86663-2&nbsp;&nbsp;</a></td>
        <td>HIV referral information panel [FPAR]</td>
        <td></td>
        <td>86663-2</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/57202-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;57202-4&nbsp;&nbsp;</a></td>
        <td>Date of Referral [CMS Assessment]</td>
        <td>HIV Referral Recommended Date</td>
        <td>57202-4</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/76427-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;76427-4&nbsp;&nbsp;</a></td>
        <td>Visit date</td>
        <td>HIV Referral Visit Completed Date</td>
        <td>76427-4</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86657-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86657-4&nbsp;&nbsp;</a></td>
        <td>HIV 1 and 2 tests - FPAR 2.0 set</td>
        <td>Date of Last HIV test <br> HIV Rapid Test Result<br> HIV Supplemental Test Result<br> </td>
        <td>5018-7, 5221-7, 68961-2, 30361-0, 31201-7, 48510-2, 48511-0</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86658-2.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86658-2&nbsp;&nbsp;</a></td>
        <td>HPV tests - FPAR 2.0 set</td>
        <td>Date of Last HPV Co-test<br> HPV Test Result</td>
        <td>59420-0, 21440-3, 30167-1, 38372-9, 49896-4, 69002-4, 73959-9, 11083-3, 12223-4, 14503-7, 14504-5, 14506-0, 17400-3, 44550-2, 6514-4, 6516-9</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86659-0.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86659-0&nbsp;&nbsp;</a></td>
        <td>Chlamydia sp tests - FPAR 2.0 set</td>
        <td>Date of Last CT test<br> CT Test Result</td>
        <td>49096-1, 43304-5, 21191-2, 4993-2, 16600-9, 16601-7, 21189-6, 21190-4, 21192-0, 21613-5, 23838-6, 35729-3, 42931-6, 43404-3, 45078-3, 45080-9, 45084-1, 47211-8, 47212-6, 50387-0, 53925-4, 53926-2, 6356-0, 6357-8</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86660-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86660-8&nbsp;&nbsp;</a></td>
        <td>Neisseria gonorrhoeae tests - FPAR 2.0 set</td>
        <td>Date of Last GC test <br> GC Test Result</td>
        <td>43305-2, 21415-5, 47387-6, 50388-8, 21414-8, 21416-3, 24111-7, 32198-4, 32199-2, 32705-6, 43403-5, 5028-6, 53879-3, 53927-0, 6487-3, 688-2, 691-6, 692-4, 693-2, 698-1</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86661-6.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86661-6&nbsp;&nbsp;</a></td>
        <td>Chlamydia trachomatis+ Neisseria gonorrhoeae tests - FPAR 2.0 set</td>
        <td>Date of Last CT test<br> CT Test Result<br> Date of Last GC test <br> GC Test Result</td>
        <td>36902-5, 36903-3, 43406-8, 44806-8, 44807-6, 45067-6, 45068-4, 45069-2, 45070-0, 45074-2, 45076-7</td>
      </tr>
      <tr>
        <td><a href="http://r.details.loinc.org/LOINC/86662-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;86662-4&nbsp;&nbsp;</a></td>
        <td>Pap smear tests - FPAR 2.0 set</td>
        <td>Date of Pap Tests Last 5 Years<br> Last Pap Result</td>
        <td>10524-7, 19766-5, 19765-7, 19774-9, 47528-5, 47527-7, 19762-4, 19764-0, 33717-0, 18500-9</td>
      </tr>
    </tbody>
  </table>
</div>
