<div>
  <p>
    This guide defines the following profiles to be used to meet the FPAR reporting data elements. Note: For lab observations, the path for the date of the lab is Observation.effective[x], the path for the result of the lab is Observation.value[x], and the path for the LOINC code is Observation.code.
  </p>
  <h3>Non-lab data element crosswalk</h3>

  <table class="grid">
    <thead>
      <tr>
        <th width="40%">FPAR data element</th>
        <th>FHIR profile or profile element</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Facility Identifier</td>
        <td class=xl65>fpar-organization.id (within the <a href="StructureDefinition-fpar-organization-definitions.html">fpar-organization</a> profile)</td>
      </tr>
      <tr>
        <td>Clinical Provider Identifier</td>
        <td class=xl65>fpar-practitioner.identifier (within <a href="StructureDefinition-fpar-practitioner-definitions.html">fpar-practitioner</a> profile)</td>
      </tr>
      <tr>
        <td>Clinical Provider Role</td>
        <td class=xl65>fpar-practitionerRole.specialty (within <a href="StructureDefinition-fpar-practitionerRole-definitions.html">fpar-practitionerRole</a> profile)</td>
      </tr>
      <tr>
        <td>Visit Date</td>
        <td class=xl65>fpar-generalencounterperiod.start (within <a href="StructureDefinition-fpar-genEncounter-definitions.html">fpar-genEncounter</a> profile)</td>
      </tr>
      <tr>
        <td>Annual Household Income</td>
        <td class=xl65><a href="StructureDefinition-hspc-annualHouseholdIncome-definitions.html">hspc-annualHouseholdIncome</a></td>
      </tr>
      <tr>
        <td>Household Size</td>
        <td class=xl65><a href="StructureDefinition-hspc-householdSize-definitions.html">hspc-householdSize</a></td>
      </tr>
      <tr>
        <td>Smoking status</td>
        <td class=xl65><a href="StructureDefinition-hspc-smokingStatus-definitions.html">hspc-smokingStatus</a></td>
      </tr>
      <tr>
        <td>Insurance Coverage Type</td>
        <td class=xl65>fpar-coverage.type (within <a href="StructureDefinition-fpar-coverage-definitions.html">fpar-coverage</a> profile)</td>
      </tr>
      <tr>
        <td>Payer for Visit</td>
        <td class=xl65>extensions-primaryInsuranceClassification (within <a href="StructureDefinition-fpar-coverage-definitions.html">fpar-coverage</a> profile)</td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td class=xl65>fpar-patient.birthDate (within <a href="StructureDefinition-fpar-patient-definitions.html">fpar-patient</a> profile)</td>
      </tr>
      <tr>
        <td>Birth Sex</td>
        <td class=xl65>fpar-patient.extension:birthsex (within <a href="StructureDefinition-fpar-patient-definitions.html">fpar-patient</a> profile)</td>
      </tr>
      <tr>
        <td>Race</td>
        <td class=xl65>fpar-patient.extension:race (within <a href="StructureDefinition-fpar-patient-definitions.html">fpar-patient</a> profile)</td>
      </tr>
      <tr>
        <td>Ethnicity</td>
        <td class=xl65>fpar-patient.extension:ethnicity (within <a href="StructureDefinition-fpar-patient-definitions.html">fpar-patient</a> profile)</td>
      </tr>
      <tr>
        <td>Limited English Proficiency</td>
        <td class=xl65><a href="StructureDefinition-fpar-limitedEnglishProficiencyEval-definitions.html">fpar-limitedEnglishProficiencyEval</a></td>
      </tr>
      <tr>
        <td>Patient Identifier</td>
        <td class=xl65>fpar-patient.identifier (within <a href="StructureDefinition-fpar-patient-definitions.html">fpar-patient</a> profile)</td>
      </tr>
      <tr>
        <td>Height</td>
        <td class=xl65><a href="StructureDefinition-hspc-height-definitions.html">hspc-height</a></td>
      </tr>
      <tr>
        <td>Weight</td>
        <td class=xl65><a href="StructureDefinition-hspc-bodyWeight-definitions.html">hspc-bodyWeight</a></td>
      </tr>
      <tr>
        <td>Systolic blood pressure</td>
        <td class=xl65><a href="StructureDefinition-hspc-systolicbp-definitions.html">hspc-systolicbp</a></td>
      </tr>
      <tr>
        <td>Diastolic blood pressure</td>
        <td class=xl65><a href="StructureDefinition-hspc-diastolicbp-definitions.html">hspc-diastolicbp</a></td>
      </tr>
      <tr>
        <td>Parity</td>
        <td class=xl65><a href="StructureDefinition-hspc-parity-definitions.html">hspc-parity</a></td>
      </tr>
      <tr>
        <td>Gravidity</td>
        <td class=xl65><a href="StructureDefinition-hspc-gravidity-definitions.html">hspc-gravidity</a></td>
      </tr>
      <tr>
        <td>Pregnancy Status</td>
        <td class=xl65><a href="StructureDefinition-fpar-pregnancyStatusEval-definitions.html">fpar-pregnancyStatusEval</a></td>
      </tr>
      <tr>
        <td>Pregnancy Status Reporting Method</td>
        <td class=xl65>fpar-pregnancyStatusEval.extension:reportingMethod (within <a href="StructureDefinition-fpar-pregnancyStatusEval-definitions.html"fpar-pregnancyStatusEval</a> profile)</td>
      </tr>
      <tr>
        <td>Pregnancy test performed</td>
        <td class=xl65>
          <a href="StructureDefinition-hspc-BHcgPregSerplQl-definitions.html">hspc-BHcgPregSerplQl</a></br>
          <a href="StructureDefinition-hspc-HcgPregSerplQl-definitions.html">hspc-HcgPregSerplQl</a></br>
          <a href="StructureDefinition-hspc-HcgPregUrQl-definitions.html">hspc-HcgPregUrQl</a></br>
          <a href="StructureDefinition-hspc-HcgPregSerQlIaRapid-definitions.html">hspc-HcgPregSerQlIaRapid</a></br>
          <a href="StructureDefinition-hspc-BHcgSerplAcnc-definitions.html">hspc-BHcgSerplAcnc</a></br>
          <a href="StructureDefinition-hspc-HcgSerplAcnc-definitions.html">hspc-HcgSerplAcnc</a></br>
        </td>
      </tr>
      <tr>
        <td>Pregnancy Intention</td>
        <td class=xl65><a href="StructureDefinition-fpar-pregnancyIntentionEval-definitions.html">fpar-pregnancyIntentionEval</a></td>
      </tr>
      <tr>
        <td>Ever Had Sex</td>
        <td class=xl65>fpar-virginalStatusEval</td>
      </tr>
      <tr>
        <td>Sex Last 3 Months</td>
        <td class=xl65><a href="StructureDefinition-hspc-sexLastThreeMonths-definitions.html ">hspc-sexLastThreeMonths</a></td>
      </tr>
      <tr>
        <td>Sex Last 12 Months</td>
        <td class=xl65><a href="StructureDefinition-hspc-sexLastTwelveMonths-definitions.html">hspc-sexLastTwelveMonths</a></td>
      </tr>
      <tr>
        <td>Contraceptive Method(s) at Intake</td>
        <td class=xl65><a href="StructureDefinition-fpar-contraceptiveChoiceInitial-definitions.html">fpar-contraceptiveChoiceInitial</a></td>
      </tr>
      <tr>
        <td>Reason for no contraceptive method at intake</td>
        <td class=xl65>fpar-contraceptiveChoiceInitial.dataAbsentReason (within <a href="StructureDefinition-fpar-contraceptiveChoiceInitial-definitions.html">fpar-contraceptiveChoiceInitial</a> profile)</td>
      </tr>
      <tr>
        <td>Contraceptive Method(s) at Exit</td>
        <td class=xl65><a href="StructureDefinition-fpar-contraceptiveChoiceAtExit-definitions.html">fpar-contraceptiveChoiceAtExit</a></td>
      </tr>
      <tr>
        <td>How Contraceptive Method(s) Provided At Exit</td>
        <td class=xl65>fpar-contraceptiveChoiceAtExit.extension:ContraceptionProvisionMethod$Extension (within <a href="StructureDefinition-fpar-contraceptiveChoiceAtExit-definitions.html">fpar-contraceptiveChoiceAtExit</a> profile)</td>
      </tr>
      <tr>
        <td>Reason for no contraceptive method at exit</td>
        <td class=xl74>fpar-contraceptiveChoiceAtExit.dataAbsentReason (within <a href="StructureDefinition-fpar-contraceptiveChoiceAtExit-definitions.html">fpar-contraceptiveChoiceAtExit</a> profile)</td>
      </tr>
      <tr>
        <td>Contraceptive Counseling</td>
        <td class=xl65><a href="StructureDefinition-fpar-contraceptiveCounseling-definitions.html">fpar-contraceptiveCounseling</a></td>
      </tr>
      <tr>
        <td>Counseling to Achieve Pregnancy</td>
        <td class=xl65><a href="StructureDefinition-fpar-counselingToAchievePregnancy-definitions.html">fpar-counselingToAchievePregnancy</a></td>
      </tr>
      <tr>
        <td>HIV Referral Recommended Date</td>
        <td class=xl65>referralRequest.authoredOn</td>
      </tr>
      <tr>
        <td>HIV Referral Visit Completed Date</td>
        <td class=xl65>encounterperiod.end</td>
      </tr>
      <tr>
        <td>Date of Last HIV test <br> HIV Rapid Test Result<br> HIV Supplemental Test Result<br></td>
        <td>
          <a href="StructureDefinition-hspc-Hiv1RnaXxxQlPcr-definitions.html">hspc-Hiv1RnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-Hiv1AbSerQlIb-definitions.html">hspc-Hiv1AbSerQlIb</a></br>
          <a href="StructureDefinition-hspc-Hiv1AbSerplbldQlEiaRapid-definitions.html">hspc-Hiv1AbSerplbldQlEiaRapid</a></br>
          <a href="StructureDefinition-hspc-Hiv2AbSerQlEia-definitions.html">hspc-Hiv2AbSerQlEia</a></br>
          <a href="StructureDefinition-hspc-Hiv1And2AbSerQlEia-definitions.html">hspc-Hiv1And2AbSerQlEia</a></br>
          <a href="StructureDefinition-hspc-Hiv1RnaSerplPcrDl17Log-definitions.html">hspc-Hiv1RnaSerplPcrDl17Log</a></br>
          <a href="StructureDefinition-hspc-Hiv1RnaSerplPcrDl50-definitions.html">hspc-Hiv1RnaSerplPcrDl50</a></br>
        </td>
      </tr>
      <tr>
        <td>Date of Last HPV Co-test<br> HPV Test Result</td>
        <td>
          <a href="StructureDefinition-hspc-HpvIHRisk4DnaCervixQlBdna-definitions.html">hspc-HpvIHRisk4DnaCervixQlBdna</a></br>
          <a href="StructureDefinition-hspc-HpvIHRiskDnaCervixQlPrb-definitions.html">hspc-HpvIHRiskDnaCervixQlPrb</a></br>
          <a href="StructureDefinition-hspc-HpvIHRisk1DnaCervixQlBdna-definitions.html">hspc-HpvIHRisk1DnaCervixQlBdna</a></br>
          <a href="StructureDefinition-hspc-HpvDnaCervixQlBdna-definitions.html">hspc-HpvDnaCervixQlBdna</a></br>
          <a href="StructureDefinition-hspc-HpvIHRisk1DnaXxxQlPcr-definitions.html">hspc-HpvIHRisk1DnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-HpvE6AndE7MrnaCervixQlPcr-definitions.html">hspc-HpvE6AndE7MrnaCervixQlPcr</a></br>
          <a href="StructureDefinition-hspc-Hpv12HrTypesDnaTissQlPrb-definitions.html">hspc-Hpv12HrTypesDnaTissQlPrb</a></br>
          <a href="StructureDefinition-hspc-HpvCervix-definitions.html">hspc-HpvCervix</a></br>
          <a href="StructureDefinition-hspc-Hpv16And18AgGenitalQl-definitions.html">hspc-Hpv16And18AgGenitalQl</a></br>
          <a href="StructureDefinition-hspc-Hpv16And18AgCervixQl-definitions.html">hspc-Hpv16And18AgCervixQl</a></br>
          <a href="StructureDefinition-hspc-Hpv16And18AgVagQl-definitions.html">hspc-Hpv16And18AgVagQl</a></br>
          <a href="StructureDefinition-hspc-Hpv16And18AgUrthQl-definitions.html">hspc-Hpv16And18AgUrthQl</a></br>
          <a href="StructureDefinition-hspc-Hpv16And18AgXxxQl-definitions.html">hspc-Hpv16And18AgXxxQl</a></br>
          <a href="StructureDefinition-hspc-HpvDnaCervixQlPrb-definitions.html">hspc-HpvDnaCervixQlPrb</a></br>
          <a href="StructureDefinition-hspc-HpvRrnaGenitalQlPcr-definitions.html">hspc-HpvRrnaGenitalQlPcr</a></br>
          <a href="StructureDefinition-hspc-HpvRrnaXxxQlPcr-definitions.html">hspc-HpvRrnaXxxQlPcr</a></br>
        </td>
      </tr>
      <tr>
        <td>Date of Last CT test<br> CT Test Result</td>
        <td>
          <a href="StructureDefinition-hspc-CTrachDnaXxxPcrAcnc-definitions.html">hspc-CTrachDnaXxxPcrAcnc</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaXxxQlPcr-definitions.html">hspc-CTrachRrnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaUrthQlPcr-definitions.html">hspc-CTrachDnaUrthQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaXxxQlPrb-definitions.html">hspc-CTrachRrnaXxxQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaGenitalQlPrb-definitions.html">hspc-CTrachRrnaGenitalQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaUrQlPrb-definitions.html">hspc-CTrachRrnaUrQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaCervMucusQlPcr-definitions.html">hspc-CTrachDnaCervMucusQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaCervixQlPcr-definitions.html">hspc-CTrachDnaCervixQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaUrthQlPrb-definitions.html">hspc-CTrachRrnaUrthQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaXxxQlPcr-definitions.html">hspc-CTrachDnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaGenitalFlQlPrb-definitions.html">hspc-CTrachRrnaGenitalFlQlPrb</a></br>
          <a href="StructureDefinition-hspc-ChlamydiaDnaXxxQlPcr-definitions.html">hspc-ChlamydiaDnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaUrQlPcr-definitions.html">hspc-CTrachRrnaUrQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaXxxQlBdna-definitions.html">hspc-CTrachDnaXxxQlBdna</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaCervixQlPrb-definitions.html">hspc-CTrachRrnaCervixQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaVagQlPrb-definitions.html">hspc-CTrachRrnaVagQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaVagQlPcr-definitions.html">hspc-CTrachDnaVagQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachL2DnaXxxQlPcr-definitions.html">hspc-CTrachL2DnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaXxxPcr-definitions.html">hspc-CTrachDnaXxxPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaCervixQlPcr-definitions.html">hspc-CTrachRrnaCervixQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaUrthQlPcr-definitions.html">hspc-CTrachRrnaUrthQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachRrnaVagQlPcr-definitions.html">hspc-CTrachRrnaVagQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaGenitalQlPcr-definitions.html">hspc-CTrachDnaGenitalQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachDnaUrQlPcr-definitions.html">hspc-CTrachDnaUrQlPcr</a></br>
        </td>
      </tr>
      <tr>
        <td>Date of Last GC test <br> GC Test Result</td>
        <td>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaXxxQlPcr-definitions.html">hspc-NGonorrhoeaRrnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaUrthQlPcr-definitions.html">hspc-NGonorrhoeaDnaUrthQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaGenitalQlPcr-definitions.html">hspc-NGonorrhoeaDnaGenitalQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaCervixQlPcr-definitions.html">hspc-NGonorrhoeaRrnaCervixQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaCervMucusQlPcr-definitions.html">hspc-NGonorrhoeaDnaCervMucusQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaUrQlPcr-definitions.html">hspc-NGonorrhoeaDnaUrQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaXxxQlPcr-definitions.html">hspc-NGonorrhoeaDnaXxxQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaCervixQlPrb-definitions.html">hspc-NGonorrhoeaRrnaCervixQlPrb</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaUrthQlPrb-definitions.html">hspc-NGonorrhoeaRrnaUrthQlPrb</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaVagQlPcr-definitions.html">hspc-NGonorrhoeaDnaVagQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaDnaXxxQlBdna-definitions.html">hspc-NGonorrhoeaDnaXxxQlBdna</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaXxxQlPrb-definitions.html">hspc-NGonorrhoeaRrnaXxxQlPrb</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaVagQlPcr-definitions.html">hspc-NGonorrhoeaRrnaVagQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaRrnaUrthQlPcr-definitions.html">hspc-NGonorrhoeaRrnaUrthQlPcr</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaAgGenitalQlEia-definitions.html">hspc-NGonorrhoeaAgGenitalQlEia</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaCervixQlCult-definitions.html">hspc-NGonorrhoeaCervixQlCult</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaGenitalQlCult-definitions.html">hspc-NGonorrhoeaGenitalQlCult</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaGenLochiaQlCult-definitions.html">hspc-NGonorrhoeaGenLochiaQlCult</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaVagQlCult-definitions.html">hspc-NGonorrhoeaVagQlCult</a></br>
          <a href="StructureDefinition-hspc-NGonorrhoeaXxxQlCult-definitions.html">hspc-NGonorrhoeaXxxQlCult</a></br>
        </td>
      </tr>
      <tr>
        <td>Date of Last CT test<br> CT Test Result<br> Date of Last GC test <br> GC Test Result</td>
        <td>
          <a href="StructureDefinition-hspc-CtrachAndGCDNAXXXQlPCR-definitions.html">hspc-CtrachAndGCDNAXXXQlPCR</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcDnaXxxPcr-definitions.html">hspc-CTrachAndGcDnaXxxPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcDnaXxxQlBdna-definitions.html">hspc-CTrachAndGcDnaXxxQlBdna</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcDnaUrQlPcr-definitions.html">hspc-CTrachAndGcDnaUrQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcDnaGenitalQlPcr-definitions.html">hspc-CTrachAndGcDnaGenitalQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcRrnaCervixQlPrb-definitions.html">hspc-CTrachAndGcRrnaCervixQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcDnaCervixQlPcr-definitions.html">hspc-CTrachAndGcDnaCervixQlPcr</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcRrnaGenitalQlPrb-definitions.html">hspc-CTrachAndGcRrnaGenitalQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcRrnaVagQlPrb-definitions.html">hspc-CTrachAndGcRrnaVagQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcRrnaUrQlPrb-definitions.html">hspc-CTrachAndGcRrnaUrQlPrb</a></br>
          <a href="StructureDefinition-hspc-CTrachAndGcRrnaXxxQlPrb-definitions.html">hspc-CTrachAndGcRrnaXxxQlPrb</a></br>
        </td>
      </tr>
      <tr>
        <td>Date of Pap Tests Last 5 Years<br> Last Pap Result</td>
        <td>
          <a href="StructureDefinition-hspc-CytoCervix-definitions.html">hspc-CytoCervix</a></br>
          <a href="StructureDefinition-hspc-CytoCvxVag-definitions.html">hspc-CytoCvxVag</a></br>
          <a href="StructureDefinition-hspc-CytoCvxVagCoded-definitions.html">hspc-CytoCvxVagCoded</a></br>
          <a href="StructureDefinition-hspc-CytologyCmntCvxVagCytoImp-definitions.html">hspc-CytologyCmntCvxVagCytoImp</a></br>
          <a href="StructureDefinition-hspc-CytologyCvxVagDocCyto-definitions.html">hspc-CytologyCvxVagDocCyto</a></br>
          <a href="StructureDefinition-hspc-CytologyCvxVagDocThinPrep-definitions.html">hspc-CytologyCvxVagDocThinPrep</a></br>
          <a href="StructureDefinition-hspc-GenCategCvxVagCytoImp-definitions.html">hspc-GenCategCvxVagCytoImp</a></br>
          <a href="StructureDefinition-hspc-StatOfAdqCvxVagCytoImp-definitions.html">hspc-StatOfAdqCvxVagCytoImp</a></br>
          <a href="StructureDefinition-hspc-StudyreportFindPtCvxVagDocCytology-definitions.html">hspc-StudyreportFindPtCvxVagDocCytology</a></br>
          <a href="StructureDefinition-hspc-ThinPrepCervix-definitions.html">hspc-ThinPrepCervix</a></br>
        </td>
      </tr>
    </tbody>
  </table>
</div>
