<div>
  <h3> Overview </h3>
<table class="grid">
  <thead>
    <tr>
      <th width="50%">Name</th>
      <th>Definition</th>
    </tr>
  </thead>
  <tbody>
    <tr> 
      <td>  
        <a href="https://www.hhs.gov/opa/title-x-family-planning/fp-annual-report/index.html">Family Planning Annual Report</a>
      </td>
      <td>  
The Office of Population Affairs (OPA) family practice annual reporting (FPAR) is an annual reporting requirement for family planning services delivery projects authorized and funded under the Population Research and Voluntary Family Planning Programs (Section 1001 of Title X of the Public Health Service Act, 42 United States Code [USC] 300).
      </td>
    </tr>
    <tr>
      <td> <a href="https://www.hhs.gov/opa/sites/default/files/title-x-fpar-2016-national.pdf">Family Planning Annual Report: 2016 national summary</a> </td>
      <td>  
Fowler, C.I., Gable, J., Wang, J., & Lasater, B. (2017, August). Family Planning Annual Report: 2016 national summary. Research Triangle Park, NC: RTI International.
      </td>
    </tr>
  </tbody>
</table>
</div>
