<div>
  <p>This guide references the following value sets.</p>

  <table class="grid">
    <thead>
      <tr>
        <th width="20%">Value Set Name</th>
        <th>Descripton</th>
        <th>url</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FPAR Pregnancy Status</td>
        <td>Pregnancy status at time of encounter.</td>
        <!-- <td> <a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.1/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.1/expansion</a></td> -->
        <td><a href="ValueSet-pregnancyStatus.html">ValueSet-pregnancyStatus</a></td>
      </tr>
      <tr>
        <td>FPAR Sexual Intercourse History</td>
        <td>Values used to indicate weather or not a patient has ever had sexual intercourse.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.16/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.16/expansion</a></td> -->
        <td><a href="ValueSet-virginNonVirgin.html">ValueSet-virginNonVirgin</a></td>
      </tr>
      <tr>
        <td>FPAR Contraceptive Type</td>
        <td>This values contains both clinical and non-clinical contraceptive types.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.17/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.17/expansion</a></td> -->
        <td><a href="ValueSet-contraceptiveChoice.html">ValueSet-contraceptiveChoice</a></td>
      </tr>
      <tr>
        <td>FPAR Contraception Not Used Reason</td>
        <td>Reasons why contraception is not being used.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.18/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.18/expansion</a></td> -->
        <td><a href="ValueSet-reasonNoContraceptiveChosen.html">ValueSet-reasonNoContraceptiveChosen</a></td>
      </tr>
      <tr>
        <td>FPAR Contraceptive Provision Method</td>
        <td>Indicating how contraception provided at a high-level during a clinical encounter.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.21/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.21/expansion</a></td> -->
        <td><a href="ValueSet-contraceptionProvisionMethod.html">ValueSet-contraceptionProvisionMethod</a></td>
      </tr>
      <tr>
        <td>FPAR Pregnancy Intent</td>
        <td>Values describing patient intentions to become pregnant.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.22/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.22/expansion</a></td> -->
        <td><a href="ValueSet-pregnancyIntention.html">ValueSet-pregnancyIntention</a></td>
      </tr>
      <tr>
        <td>FPAR Pregnancy Status Reporting Method</td>
        <td>Method used to report and/or determine pregnancy status.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.23/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.23/expansion</a></td> -->
        <td><a href="ValueSet-pregnancyStatusReportingMethod.html">ValueSet-pregnancyStatusReportingMethod</a></td>
      </tr>
      <tr>
        <td>FPAR Clinical Provider Role</td>
        <td>Clinical provider occupational roles.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.24/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.24/expansion</a></td> -->
        <td><a href="ValueSet-fparProviderRole.html">ValueSet-fparProviderRole</a></td>
      </tr>
      <tr>
        <td>FPAR Annual Household Income Ranges</td>
        <td>Household annual income range.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.25/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.25/expansion</a></td> -->
        <td><a href="ValueSet-fparAnnualHouseholdIncomeRanges.html">ValueSet-fparAnnualHouseholdIncomeRanges</a></td>
      </tr>
      <tr>
        <td>FPAR Insurance Coverage Type</td>
        <td>Source of Payment Typology codes for a low granularity description of Insurance coverage.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.29/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.29/expansion</a></td> -->
        <td><a href="ValueSet-coverageType.html">ValueSet-coverageType</a></td>
      </tr>
      <tr>
        <td>FPAR English Proficiency</td>
        <td>Patient's level of proficiency in English in four domains: listening, writing, reading, or speaking.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.31/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.31/expansion</a></td> -->
        <td><a href="ValueSet-englishProficiency.html">ValueSet-englishProficiency</a></td>
      </tr>
      <tr>
        <td>Smoking Status</td>
        <td>Classification of a patient's smoking behavior. This value set is consistent with the Smoking Status codes used by ONC for Meaningful Use</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113883.11.20.9.38/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113883.11.20.9.38/expansion</a></td> -->
        <td><a href="ValueSet-fparSmokingStatus.html">ValueSet-fparSmokingStatus</a></td>
      </tr>
      <tr>
        <td>Payer Typology</td>
        <td>Used to describe the type of the primary payer for the visit.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.114222.4.11.3591/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.114222.4.11.3591/expansion</a></td> -->
        <td><a href="ValueSet-primaryInsuranceClassification.html">ValueSet-primaryInsuranceClassification</a></td>
      </tr>
      <tr>
        <td>EthnicGroup</td>
        <td>The codes for the ethnicity categories - 'Hispanic or Latino' and 'Non Hispanic or Latino' - as defined by the OMB Standards for Maintaining, Collecting, and Presenting Federal Data on Race and Ethnicity, Statistical Policy Directive No. 15, as revised, October 30, 1997.</td>
        <td><a href="https://www.hl7.org/fhir/us/core/ValueSet-omb-ethnicity-category.html">https://www.hl7.org/fhir/us/core/ValueSet-omb-ethnicity-category.html</a></td>
      </tr>
      <tr>
        <td>BirthSex</td>
        <td>Codes for assigning sex at birth as specified by the Office of the National Coordinator for Health IT (ONC)</td>
        <td><a href="https://www.hl7.org/fhir/us/core/ValueSet-us-core-birthsex.html">https://www.hl7.org/fhir/us/core/ValueSet-us-core-birthsex.html</a></td>
      </tr>
      <tr>
        <td>Race</td>
        <td>The codes for the concepts 'Unknown' and 'Asked but no answer' and the the codes for the five race categories - 'American Indian' or 'Alaska Native', 'Asian', 'Black or African American', 'Native Hawaiian or Other Pacific Islander', and 'White' - as defined by the OMB Standards for Maintaining, Collecting, and Presenting Federal Data on Race and Ethnicity, Statistical Policy Directive No. 15, as revised, October 30, 1997 .</td>
        <td><a href="https://www.hl7.org/fhir/us/core/ValueSet-omb-race-category.html">https://www.hl7.org/fhir/us/core/ValueSet-omb-race-category.html</a></td>
      </tr>
      <tr>
        <td>FPAR RNA Detection</td>
        <td>Ordinal values used to result RNA detection based laboratory tests. For example LOINC code 5018-7, HIV 1 RNA [Presence] in Unspecified specimen by Probe and target amplification method.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.27/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.27/expansion</a></td> -->
        <td><a href="ValueSet-fparHIV1RnaDetectedNotDetected.html">ValueSet-fparHIV1RnaDetectedNotDetected</a></td>
      </tr>
      <tr>
        <td>FPAR Positive Negative</td>
        <td>Ordinal values for Positive and Negative results.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.6/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.6/expansion</a></td> -->
        <td><a href="ValueSet-negativePositive.html">ValueSet-negativePositive</a></td>
      </tr>
      <tr>
        <td>FPAR Organism Detection</td>
        <td>Ordinal lab results that reflect microorganism presence.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.3/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.3/expansion</a></td> -->
        <td><a href="ValueSet-organismDetectionOrdLabResult.html">ValueSet-organismDetectionOrdLabResult</a></td>
      </tr>
      <tr>
        <td>FPAR Detected, Not Detected, Equivocal Inconclusive</td>
        <td>Ordinal values for Detected and Not Detected results, with the inclusion of Equivocal and Inconclusive.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.7/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.7/expansion</a></td> -->
        <td><a href="ValueSet-fparDetectedNonDetectedEqInd.html">ValueSet-fparDetectedNonDetectedEqInd</a></td>
      </tr>
      <tr>
        <td>FPAR Detected, Not Detected</td>
        <td>Ordinal values for Detected and Not Detected results.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.8/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.8/expansion</a></td> -->
        <td><a href="ValueSet-fparDetectedNotDetected.html">ValueSet-fparDetectedNotDetected</a></td>
      </tr>
      <tr>
        <td>FPAR Antibody Reactivity Positive Negative</td>
        <td>Ordinal values used to result antibody based laboratory tests. For example LOINC code 5221-7, HIV 1 Ab [Presence] in Serum by Immunoblot (IB).</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.28/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.28/expansion</a></td> -->
        <td><a href="ValueSet-fparHIVAbReactiveNonReactive.html">ValueSet-fparHIVAbReactiveNonReactive</a></td>
      </tr>
      <tr>
        <td>FPAR Pap Smear Tests</td>
        <td>Laboratory tests for PAP Smear tests, used to retrieve and populate dates for PAP Smear labs.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.10/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.10/expansion</a></td> -->
        <td><a href="ValueSet-papSmearTests.html">ValueSet-papSmearTests</a></td>
      </tr>
      <tr>
        <td>FPAR HIV Tests</td>
        <td>Laboratory tests for HIV, used to retrieve and populate dates for Human Immunodeficiency Virus labs.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.11/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.11/expansion</a></td> -->
        <td><a href="ValueSet-hivTests.html">ValueSet-hivTests</a></td>
      </tr>
      <tr>
        <td>FPAR Human Papilloma Virus Tests</td>
        <td>Laboratory tests for Human Papilloma virus, used to retrieve and populate dates for Human Papilloma virus labs.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.12/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.12/expansion</a></td> -->
        <td><a href="ValueSet-humanPapillomaVirusTests.html">ValueSet-humanPapillomaVirusTests</a></td>
      </tr>
      <tr>
        <td>FPAR Chlamydia Trachomatis Tests</td>
        <td>Laboratory tests for Human Papilloma virus, used to retrieve and populate dates for Human Papilloma virus labs.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.13/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.13/expansion</a></td> -->
        <td><a href="ValueSet-chlamydiaTrachomatisTests.html">ValueSet-chlamydiaTrachomatisTests</a></td>
      </tr>
      <tr>
        <td>FPAR Neisseria Gonorrhoeae Tests</td>
        <td>Laboratory test exclusively for Neisseria gonorrhoeae, used to retrieve and populate dates for Neisseria gonorrhoeae labs.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.14/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.14/expansion</a></td> -->
        <td><a href="ValueSet-neisseriaGonorrhoeaeTests.html">ValueSet-neisseriaGonorrhoeaeTests</a></td>
      </tr>
      <tr>
        <td>FPAR Chlamydia trachomatis and Neisseria Gonorrhoeae combined Tests</td>
        <td>Laboratory tests which test for both Chlamydia trachomatis and Neisseria gonorrhoeae, used to retrieve and populate dates for Chlamydia trachomatis and Neisseria gonorrhoeae labs.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.15/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.15/expansion</a></td> -->
        <td><a href="ValueSet-chlamydiaTrachomatisAndNeisseriaGonorrhoeaeCombinedTests.html">ValueSet-chlamydiaTrachomatisAndNeisseriaGonorrhoeaeCombinedTests</a></td>
      </tr>
      <tr>
        <td>FPAR Pregnancy Tests</td>
        <td>Contains the LOINC codes for the labs used for Preganacy status determination.</td>
        <!-- <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.32/expansion">https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1166.32/expansion</a></td> -->
        <td><a href="ValueSet-pregnancyTests.html">ValueSet-pregnancyTests</a></td>
      </tr>
    </tbody>
  </table>
</div>
